{% extends "index.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible">
            <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}   

<form action="{{ url_for('admin.admin') }}" method="POST" class="row g-3" novalidate enctype="multipart/form-data">
    {{ form_personal.csrf_token }}
    <div class="col-md-3 position-relative">
        {{ render_field(form_personal.cedula_id, maxlength="11", minlength="11",placeholder='Cedula',class="form-control",id="inputEmail4") }}
    </div>
    <div class="col-md-3 position-relative">
        {{ render_field(form_personal.password, placeholder='Contraseña',id="inputEmail4") }}
    </div>
    <div class="col-md-3 position-relative">
        {{ render_field(form_personal.confirm, placeholder='Repetir su contraseña',id="inputEmail4") }}
    </div>
    <div class="col-md-3 position-relative">
        {{ render_field(form_personal.rank, placeholder='Su rango',class="form-control",id="inputEmail4") }}
    </div>

    <div class="col-md-4 position-relative">
        {{ render_field(form_personal.firstname, placeholder='Nombres',class="form-control",id="inputEmail4") }}
    </div>
    <div class="col-md-4 position-relative">
        {{ render_field(form_personal.lastname, placeholder='Apellidos',class="form-control",id="inputEmail4") }}
    </div>

    <div class="col-md-4 position-relative">
        {{ render_field(form_personal.email_address, placeholder='@ Email',class="form-control",id="basic-addon1") }}
    </div>

    <div class="col-md-3 position-relative">
        {{ render_field(form_personal.cellphone, maxlength="10", placeholder='Telefono',class="form-control",id="inputEmail4") }}
    </div>

    <div class="col-md-4 position-relative">
        {{ render_field(form_personal.direccion_workplace_police, placeholder='Direccion, P.N., a la que perteneces',class="form-control",id="inputEmail4") }}
    </div>
    <div class="col-md-4 position-relative">
        {{ render_field(form_personal.work_unit, placeholder='Unidad policial a la que perteneces',class="form-control",id="inputEmail4") }}
    </div>
    <div class="col-md-3 position-relative">
        {{ render_field(form_personal.birthday, placeholder='Fecha de nacimiento',class="form-control",id="inputEmail4") }}
    </div>

    <div class="col-md-3 position-relative">
        {{ render_field(form_personal.nivel_admin, placeholder='Nivel de usuario',class="form-control",id="inputEmail4") }}
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar datos</button>
    </div>
  </form>

{% endblock %}