
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px solid') }}
    {{ dropzone.create(action=url_for('main.main')) }}
    {{ dropzone.load_js() }}
    {{ dropzone.config(
      custom_init='dz = this;document.getElementById("upload-btn").addEventListener("click", function handler(e) {dz.processQueue();});',
      custom_options='autoProcessQueue: false, addRemoveLinks: true, parallelUploads: 3,') }}

  </body>
</html>


