{% extends "index.html" %}




<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">


{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" >
      <strong>{{ message }}</strong>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Insertar soporte
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Datos del soporte</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('main.main') }}" method="POST" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
                {{ technical_form.csrf_token }}
                
                <div class="col-md-12 position-relative">
                    {{ render_field(technical_form.firstname_lastname,placeholder='Nombre del solicitante',class="form-control",id="inputEmail4") }}
                </div>
                <div class="col-md-12 position-relative">
                    {{ render_field(technical_form.direction_support,placeholder='Direccion, P.N.',class="form-control",id="inputEmail4") }}
                </div>
                <div class="col-md-12 position-relative">
                    {{ render_field(technical_form.work_unit_support,placeholder='Unidad',class="form-control",id="inputEmail4") }}
                </div>
                <div class="col-md-6 position-relative">
                    {{ render_field(technical_form.phone_support,placeholder='Telefono',class="form-control",id="inputEmail4") }}
                </div>
                <div class="col-md-6 position-relative">
                    {{ render_field(technical_form.type_of_support,placeholder='Tipo de soporte',class="form-control",id="inputEmail4") }}
                </div>
                <div class="form-floating">
                  {{ render_field(technical_form.comment_support, class="form-control",id="summernote") }}
                </div>
                <div class="col-md-3 position-relative">
                    {{ render_field(technical_form.image_support1,class="form-control",id="inputEmail4") }}
                </div>
                <div class="col-md-3 position-relative">
                    {{ render_field(technical_form.image_support2,class="form-control",id="inputEmail4") }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                  </div>
            </form>
        
        </div>
       
      </div>
    </div>
  </div>
<hr>
<div class="card">
  <div class="card-body">
      
<table id="support_datatable" class="table table-striped table-bordered">

  <thead>
      <tr>
          <th>Nombres</th>
          <th>Direccion del soporte</th> 
          <th>Unidad, P.N.</th> 
          <th>Telefono</th> 
          <th>Tipo de soporte</th> 
          <th>Comentarios</th> 
          <th>Imagen1</th> 
          <th>Imagen2</th> 
      </tr>
  </thead>

  <tbody>
        {% for data in tech_query_support %}
            <tr>
                <td>{{ data.firstname_lastname }}</td>
                <td>{{ data.direction_support }}</td>
                <td>{{ data.work_unit_support }}</td>
                <td>{{ data.phone_support }}</td>
                <td>{{ data.type_of_support }}</td>
                <td>{{ data.comment_support|safe }}</td>
                <td>{{ data.image_support1 }}</td>
                <td>{{ data.image_support2 }}</td>
            </tr>
        {% endfor %}
  </tbody>

  <tfoot>
      <tr>
        <th>Nombres</th>
        <th>Direccion del soporte</th> 
        <th>Unidad, P.N.</th> 
        <th>Telefono</th> 
        <th>Tipo de soporte</th> 
        <th>Comentarios</th> 
        <th>Imagen1</th> 
        <th>Imagen2</th> 
      </tr>
  </tfoot>

</table>
  </div>
</div>


<script>
  $('#support_datatable').DataTable({
      responsive: true,
      autoWidth: false,
      "order": [[3, "desc"]],
      "language": {
      "lengthMenu": "Mostrar " + 
      `<select class="custom-select custom-select-sm-5 form-control form-control-sm-5">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="-1">All</option>
      </select>` + " registros por pagina",
      "zeroRecords": "No encontrado - lo sentimos",
      "info": "Mostrando la pagina _PAGE_ de _PAGES_",
      "infoEmpty": "No hay registros disponibles",
      "infoFiltered": "(filtrado de _MAX_ registros totales records)",
      'search': 'Buscar:',
      'paginate':{
          'next':'Siguiente',
          'previous':'Anterior'
      }
  }
  });
</script>


{% endblock %}

