{% extends "index.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" >
      <strong>{{ message }}</strong>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Insertar soporte
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Datos del soporte</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('main.main') }}" method="POST" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
                {{ technical_form.csrf_token }}
                
                <div class="col-md-12 position-relative">
                    {{ render_field(technical_form.firstname_lastname,placeholder='Nombre del solicitante',class="form-control",id="inputEmail4") }}
                </div>
                <div class="col-md-12 position-relative">
                    {{ render_field(technical_form.direction_support,placeholder='Direccion, P.N.',class="form-control",id="inputEmail4") }}
                </div>
                <div class="col-md-12 position-relative">
                    {{ render_field(technical_form.work_unit_support,placeholder='Unidad',class="form-control",id="inputEmail4") }}
                </div>
                <div class="col-md-6 position-relative">
                    {{ render_field(technical_form.phone_support,placeholder='Telefono',class="form-control",id="inputEmail4") }}
                </div>
                <div class="col-md-6 position-relative">
                    {{ render_field(technical_form.type_of_support,placeholder='Tipo de soporte',class="form-control",id="inputEmail4") }}
                </div>
                <div class="form-floating">
                  {{ render_field(technical_form.comment_support, class="form-control",id="summernote") }}
                </div>
                <div class="col-md-3 position-relative">
                    {{ render_field(technical_form.image_support1,class="form-control",id="inputEmail4") }}
                </div>
                <div class="col-md-3 position-relative">
                    {{ render_field(technical_form.image_support2,class="form-control",id="inputEmail4") }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                  </div>
            </form>
        
        </div>
       
      </div>
    </div>
  </div>


    
<hr>

{% endblock %}

